<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">ExpressWay</a>

    <!-- Mobile Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Navigation -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Dashboard -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/consignments"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fas fa-home-alt"></i>&nbsp;Dashboard
          </a>
        </li>

        <!-- Booking -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/booking"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fa-solid fa-dolly"></i>&nbsp;Booking
          </a>
        </li>

        <!-- Client Management -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/client" routerLinkActive="active">
            <i class="fa-solid fa-briefcase"></i>&nbsp;Client Management
          </a>
        </li>

        <li class="nav-item">
          <a
          class="nav-link"
          routerLink="/billings"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >
          <i class="fa-solid fa-boxes-packing"></i>&nbsp; Billings & Reports
        </a>
      </li>
      
      <!-- My Returned Books (Fix empty routerLink)
        Borrowed Books
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/my-borrowed-books"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fas fa-list-check"></i>&nbsp;Borrowed Books
          </a>
        </li> -->
      </ul>

      <!-- Search and User Info -->
      <form
        class="d-flex gap-2 align-items-center"
        role="search"
        (submit)="(false)"
      >
        <input
          class="form-control"
          type="search"
          placeholder="Search By Tracking Number"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">
          <i class="fas fa-search"></i>
        </button>
        <span>Welcome</span>
        <span class="text-capitalize fw-bold">Sushil</span>

        <!-- Logout Button -->
        <button class="btn btn-link" type="button" (click)="logout()">
          <i class="fas fa-door-open"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
