
.login-container {
    width: 800px  !important;
    margin-top: 15%;
}

ng-select .ng-select-container {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  min-height: 38px;
  padding: 0.375rem 0.75rem;
}

ng-select.ng-select-focused .ng-select-container {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
}
